@font-face {
  font-family: MapleMono;
  src: url(https://file.utac99645.top/font/MapleMono-ExtraBold.ttf) format('truetype');
}

body {
  font-family: "MapleMono";
}

h1 {
  font-family: "MapleMono";
}

h2 {
  font-family: "MapleMono";
}

h3 {
  font-family: "MapleMono";
}

h4 {
  font-family: "MapleMono";
}

h5 {
  font-family: "MapleMono";
}

h6 {
  font-family: "MapleMono";
}

div {
  font-family: "MapleMono";
}

html {
  font-family: "MapleMono";
}

p {
  font-family: "MapleMono";
}

main {
  font-family: "MapleMono";
}

a {
  font-family: "MapleMono";
}

p {
  font-family: "MapleMono";
}

th {
  font-family: "MapleMono";
}

td {
  font-family: "MapleMono";
}

tr {
  font-family: "MapleMono";
}

button {
  font-family: "MapleMono";
}

script {
  font-family: "MapleMono";
}

link {
  font-family: "MapleMono";
}

meta {
  font-family: "MapleMono";
}

use {
  font-family: "MapleMono";
}

ui {
  font-family: "MapleMono";
}

ul {
  font-family: "MapleMono";
}

header {
  font-family: "MapleMono";
}

li {
  font-family: "MapleMono";
}

ol {
  font-family: "MapleMono";
}

path {
  font-family: "MapleMono";
}

span {
  font-family: "MapleMono";
}

button {
  font-family: "MapleMono";
}