.video {
    display: block;
    width: 100%;
    height: 100%;
    gap: 2% 0%;
    margin: 0;
}
video {
    position: relative;
    width: 50%;
    margin: 0;
}
#video1{
    float: left;
}
#video2{
    float: right;
}