n-input {
  width: 75vw;
  height: 5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.typekey {
  border-radius: 8px;
  backdrop-filter: blur(6px);
}

:deep(.n-card.embedded),
:deep(.n-card--embedded),
:deep(.n-card--embedded .n-card__content-wrapper),
:deep(.n-card--embedded .n-card__main),
:deep(.n-card--embedded .n-card__content) {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

:deep(.n-card) {
  background: transparent !important;
}

:deep(.n-card__main) {
  background: transparent !important;
}

:deep(.n-card__content-wrapper) {
  background: transparent !important;
}

:deep(.n-card__content) {
  background: transparent !important;
}

:deep(.n-card) {
  border-radius: 12px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: none !important;
}
