template {
  width: 100%;
  height: 100%;
  position: absolute;
}

@font-face {
  font-family: 'MapleMono';
  src: local('MapleMono-NF-CN-ExtraBold'),
       local('MapleMono NF CN ExtraBold'),
       url('https://file.utac99645.top/font/MapleMono-NF-CN-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(45deg, #90e0f0, #feb47b, #ff7e5f);
  background-size: 600% 600%;
  animation: gradient 10s infinite linear;
  font-family: 'MapleMono', monospace !important ;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  top: 0px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

ui {
  border-radius: 25%;
}