templatete {
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  margin: 0;
  height: 100vh;
  display: absolute;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #90e0f0, #feb47b, #ff7e5f);
  background-size: 600% 600%;
  animation: gradient 15s infinite linear;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  top: 0px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}