.n-breadcrumb {
  font-size: 14px;
  height: 4vh;
  padding: 8px 14px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(6px);
}

.n-breadcrumb-item__link {
  color: #eee !important;
}
.n-breadcrumb-item__link:hover {
  color: #CA4346 !important;
}
.n-breadcrumb-item--active .n-breadcrumb-item__link {
  color: #CA4346 !important;
  font-weight: 600;
}
.n-breadcrumb-item__separator {
  color: #CA434688 !important;
}

